<h3 style="padding: 10px">Tela de Usuario</h3>

<form style="padding: 10px" #formCadastro="ngForm">

  <div class="form-row">
    <div class="form-group col-sm-1 col-md-1 col-lg-1">
      <label for="id">ID</label>
      <input type="text" class="form-control" [(ngModel)]="usuarioModel.id" id="id" readonly="true" name="id"
             autocomplete="false">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-6 col-md-3 col-lg-3">
      <label for="nome">Nome</label>
      <span style="color: red; font-size: 23px" *ngIf="inputNome.invalid">*</span>
      <input type="text" class="form-control" [(ngModel)]="usuarioModel.nome" #inputNome="ngModel" id="nome"
             required="true" name="nome"
             autocomplete="false">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-3 col-md-2 col-lg-2">
      <label for="cpf">Cpf</label>
      <span style="color: red; font-size: 23px" *ngIf="inputCpf.invalid">*</span>
      <input type="text" mask="000.000.000-00" class="form-control" [(ngModel)]="usuarioModel.cpf" #inputCpf="ngModel"
             id="cpf"
             required="true" name="cpf"
             autocomplete="false">
    </div>
    <div class="form-group col-sm-3 col-md-2 col-lg-2">
      <label for="dataNascimento">Data Nascimento:</label>
      <span style="color: red; font-size: 23px"> * </span>
      <div class="input-group">
        <input id="dataNascimento" name="dataNascimento" type="text" class="form-control" placeholder="dd/mm/yyyy"
               ngbDatepicker #dataNascimento="ngbDatepicker" [(ngModel)]="usuarioModel.dataNascimento" required="true">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="dataNascimento.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-6 col-md-6 col-lg-6">
      <label for="login">E-mail ou Login</label>
      <span style="color: red; font-size: 23px" *ngIf="inputLoginEmail.invalid">*</span>
      <input type="text" class="form-control" [(ngModel)]="usuarioModel.login" #inputLoginEmail="ngModel" id="login"
             required="true" name="login"
             autocomplete="false">
    </div>
    <div class="form-group col-sm-6 col-md-6 col-lg-6">
      <label for="senha">Senha</label>
      <span style="color: red; font-size: 23px" *ngIf="inputSenha.invalid">*</span>
      <input type="password" class="form-control" [(ngModel)]="usuarioModel.senha" #inputSenha="ngModel" id="senha"
             required="true"
             name="senha"
             autocomplete="false">
    </div>
  </div>

  <div class="card text-center">
    <div class="card card-header">
      Telefone Contato
    </div>
    <div class="card card-body" style="padding-left: 1px">
      <div class="form-row">
        <div class="form-group col-md-3">
          <input type="text" mask="(00) 0 0000-0000" placeholder="Telefone" id="numero" name="numero"
                 [(ngModel)]="telefone.numero" class="form-control">
        </div>
        <div class="form-group col-md-2">
          <button class="btn btn-primary" (click)="addTelefone()">Adicionar</button>
        </div>
      </div>
    </div>
  </div>

  <table class="table">
    <tbody>
    <tr *ngFor="let fone of usuarioModel.telefones; let index = index">
      <td>{{fone.id}}</td>
      <td>{{fone.numero | mask:'(00) 0 0000-0000'}}</td>
      <td>
        <button class="btn btn-danger" (click)="excluirTelefone(fone.id, index)">Excluir</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="form-row">
    <div class="form-group col-sm-6 col-md-6 col-lg-6">
      <button class="btn btn-success" (click)="limpar()">Novo
      </button>
      <button class="btn btn-primary" style="margin-left: 10px" (click)="salvar()" [disabled]="formCadastro.invalid">
        Salvar
      </button>
      <button class="btn btn-danger" style="margin-left: 10px" [routerLink]="['/usuarioList']"
              routerLinkActive="router-link-active">Voltar
      </button>
    </div>
  </div>

</form>
